@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Montserrat+Alternates:wght@400;500&family=Open+Sans:ital@0;1&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left:5%;
  padding-right: 35%;
}


.navbar a:hover,
  .navbar .active{
    color:var(--main-color);
    border-bottom: 3px solid var(--main-colr);}
    
 .logo{
  color:rgb(255, 255, 255);
  font-size: 25px;
}

span{
  color:rgb(255, 255, 255);
  font-size: 30px;

}

nav ul li{
  list-style-type: none;
  display:inline-block;
  padding:10px 20px;
}
nav ul li a{
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
.grid{
  top:40%;
  left:30%;
  text-align: center;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.grid h1{
  font-family: arial;
  font-size: 40px;
  margin-bottom:10px;
  color:rgb(255, 255, 255);
  z-index: 100;
}

.grid p{
  font-family: arial;
  font-size: 15px;
  margin-bottom:30px;
  color:white;
  font-weight: bold;
}


.background-image{
  width: 100%;
  height: 100%;
  top :0;
  left:0;
  z-index: -1; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
 }
 .background-image .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.151);
  z-index:1;
 }


.background-image img{
  width: 100%;
  height: 100%;
  z-index:-1;
  object-fit: cover;
}
.container{
  min-height: 610px;
  border:8px solid rgba(0, 0, 0, 0);

}
.container_box{
  display: flex;
  height:65px ;
  width:800px;
  margin-top:24%;
  margin-left:20%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.319);
  border-radius: 40px;


}
.select-container{
  display: flex; 
  align-items: center; 
}

.dropdown{
  height:30px ;
  width: 135px;
  border-radius: 7px;
  margin-left:3%;
  font-family: arial;  
}

.search{
  order:1;
  height:35px ;
  width: 300px;
  margin-left:3%;  
}


.container-home{
  border: 1px solid rgb(0, 0, 0);
  min-height: 1000px;
  margin-top:1%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}




